<main>
  <p id = "notice"></p>
  <div class = "container">
    <div class = "row">
      <h4>管理者ログイン</h4>
    </div>
    <div class></br></div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div class = "row">
          <div class = "col-lg-3">
            <%= f.label :メールアドレス %>
          </div>
          <div class = "col-lg-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40x20" %>
          </div>
        </div>
      </div>
      <p style="line-height:2rem"></p>
      <div class="field">
        <div class = "row">
          <div class = "col-lg-3">
            <%= f.label :パスワード %>
          </div>
          <div class = "col-lg-4">
            <%= f.password_field :password, autocomplete: "current-password", size: "40x20" %>
          </div>
        </div>
      </div>
    <div class></br></div>
    <div class = "row">
    <div class = "col-lg-4"></div>
    <div class="actions">
      <div class = "col-lg-4">
      <%= f.submit "ログイン", class:"btn btn-sm btn-primary btn-text-light" %>
      </div>
    </div>
    </div>
    <% end %>
  </div>
</main>